@charset "UTF-8";
/*------------page 공통-------------*/


* {box-sizing: border-box;}
html {font-size:100%;}


a {text-decoration: none;}

/* img {max-width: 100%;
} */
    
body {  font-family:"나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: rgb(6, 2, 51);}
  
/*------------container 설정-------------*/
.container {
    display: grid;
    grid-template-areas: 
      'hp1 hp1 hp2 hp2 hp3 hp3'
      'hd1 hd1 hd1 hd1 hd1 hd1'
      'bn1 bn1 bn1 bn1 bn1 bn1'
      'hs1 hs1 hs1 hs1 hs1 hs1'
      'm1 m1 m1 m1 m6 m6'
      'f1 f1 f1 f1 f1 f1'
      'e1 e1 e1 e1 e1 e1';
      max-width: none;
      padding: 0 10px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
/*-----logo------------*/

.col1 {
    grid-area: hp1;
    background-color: #ffffff;   
  margin: auto;
  }

/*-----searchbar------------*/
  
.col2 {
    grid-area: hp2;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}

.searchbar {
    position: relative;
    width: 400px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 15px;
  }
  
  .search-img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
  
/*-----login------------*/
 .col3 {
    grid-area: hp3;
    background-color: #ffffff;
    display: inline;
    margin: auto;
  }
  
  .login-aside {
    text-transform: uppercase;
    list-style: none;
  }
  
  .login-aside li {
    float: left;
    padding: 15px 5px;
    }

 .login-aside a {
    color: #432;
  }
  
  .login-aside a:hover {
    color: #0bd;
  }

/*-----nav------------*/
.col4 {
    grid-area: hd1;
  }
  
  .nav-menu ul .nav-menu {
    background-color: #f1f1f1;
    line-height: 1em;
    text-align: center;
    
    }

    ul .nav-feed {
      padding-right: 0;
      padding-left: 50;
    }
    
    .nav-menu li {
      font-size: 20px;
      margin-left: 10%;
      text-transform: uppercase;
      list-style: none;
      display: inline-flex;
}
.nav-menu a {
  color: #432;
}
.nav-menu a:hover {
  color: #0bd;
}

.nav-menu img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

/*mainbanner*/
/* Body section */ 

section{
  padding: 30px 18%;
  background-color: #fafafa;
  display: flex;
}

.left-side{
  width: 65%;
}

.story{
  display: flex;
  padding: 16px;
  background-color: white;
  border: 1px solid rgba(219,219,219,1);
  border-radius: 3px;
}

.story .stories{
  width: 17%;
}

.story .stories a img{
  border-radius: 50%;
  border: 2px solid #c62d8f;
  object-fit: cover;

}

.story .stories p{
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #262626;
}

/* Posts */
.posts{
  margin:25px 0;
  background-color: white;
  border: 1px solid rgba(219,219,219,1);
  border-radius: 3px;
}

.posts .post-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.posts .post-title .post-left{
  display: flex;
  align-items: center;
}

.posts .post-title .post-left .image{
  margin-right: 15px;
}

.posts .post-title .post-left .image img{
  border-radius: 50%;
  object-fit: contain;
}

.posts .post-title .post-left .details .name{
  padding-bottom: 2px;
  font-weight: bold;
}

.posts .post-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posts .post-footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.posts .post-footer .like-share-comment i{
  font-size: 22px;
  margin-right: 10px;
}

.posts .post-footer .save{
  font-size: 22px;
}

.posts .post-footer-content{
  padding: 0 16px 16px 16px;
}

.posts .post-footer-content p{
  margin-bottom: 3px;
}

.posts .post-footer-content .likes{
  margin-bottom: 8px;
}

.posts .post-footer-content .name{
  font-weight: 600;
}

.posts .post-footer-content span{
  margin-left: 10px;
  font-weight: normal;
}

.posts .post-footer-content .posting-time{
  font-size: 10px;
  margin-top: 6px;
}

.posts .add-comment{
  padding: 16px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts .add-comment .left-side{
  display: flex;
  align-items: center;
}

.posts .add-comment .left-side i{
  font-size: 22px;
  margin-right: 15px;
} 

.posts .add-comment .left-side input{
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
}

.right-side{
  width: 35%;
  margin-top: 15px;
  position: fixed;
  right: 30px;
}

.right-side .profile-title{
  display: flex;
  align-items: center;
}

.right-side .profile-title .profile-left{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.right-side .profile-title .profile-left .image img{
  border-radius: 50%;
  margin-right: 15px;
}

.right-side .profile-title .profile-left .details .name{
  padding-bottom: 3px;
}

.suggestions{
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
}

.suggestions p{
  margin-right: 90px;
}
.suggestions p:last-child{
  margin-right: 0px;
}

.suggestion-title{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.suggestion-title .suggestion-left{
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.suggestion-title .suggestion-left .image img{
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.suggestion-title .suggestion-left .details .name{
  padding-bottom: 3px;
}


/* Media Queries */

@media(max-width:992px){
  header{
    padding: 10px 20px;
  }
  section .left-side{
    width: 100%;
  }
  section .right-side{
    display: none;
  }
}

@media(max-width:768px){
  header .search-box{
    display: none;
  }
  section{
    padding: 30px 20px;
  }
}

@media(max-width:576px){
  .story .stories{
    width: 25%;
  }
  header nav ul li{
    margin-right: 10px;
  }
}

 
  








/*  
  
  .content1 {
    grid-area: c1;
    background-color: aquamarine;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  .c1-aside {
    grid-area: c3;
    background-color: aqua;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  

  .content2 {
    grid-area: c4;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  .content3 {
    grid-area: c7;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

  .footer {
    grid-area: f1;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
   
      
   
  /* .col1,.col2,.col3,.col4,.col5,.col6 {
    grid-area: t1,t2,t3,t4,t5,t6;   
    padding: 30px;
    font-size: 30px;
  }
  .col1 {background-color: #ff0000;}
  .col2 {background-color: #2600ff;}
  .col3 {background-color: aqua;}
  .col4 {background-color: brown;}
  .col5 {background-color: black;} 
  .col6 {background-color: beige;}
  .col7 {background-color: beige;}




   .col1,.col2,.col3,.col4,.col5,.col6 {
    grid-area: hp1, hp2, hp3, hp4, hp5, hp6;  
    padding: 30px;
    text-align: center;
    font-size: 30px;
  }
  .col1  {background-color: #f1f1f1;}


   */
 
