<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BEBECO</title>
</head>
<body>
<ul>
  <li th:text="${user.id}"></li>
  <li th:text="${user.password}"></li>
  <li th:text="${user.password2}"></li>
  <li th:text="${user.name}"></li>
  <li th:text="${user.nick}"></li>
  <li th:text="${user.email}"></li>
  <li th:text="${user.post}"></li>
  <li th:text="${user.address}"></li>
  <li th:text="${user.phone}"></li>
  <li th:text="${user.hobby}"></li>
</ul>
</body>
</html>